<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moj.mapper.UserinformationMapper">
    <select id="selectUserinformation" resultType="com.moj.entity.Userinformation" parameterType="String">
        select * from userinformation where phone=#{phone}
    </select>
    <update id="updateByPrimaryKey" >
        update userinformation set address=#{address},autograph=#{autograph},birtday=#{birtday},label=#{label},name=#{name},
        phone=#{phone},sex=#{sex} where id=#{id}
    </update>
    <insert id="addUserInfo">
        insert into userinformation(buildtime,name,phone) value (#{buildtime},#{name},#{phone})
    </insert>
</mapper>