<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moj.mapper.UserloginMapper">
    <update id="updatePwd" parameterType="com.moj.entity.Userlogin">
        update userlogin set account=#{account}
    </update>
</mapper>